<li>
  <% if current_page?(root_path) %>
    <%= link_to  "CharityTracker", root_path, class:'active' %>
  <% else %>
    <%= link_to  "CharityTracker", root_path %>
  <% end %>
  </li>
  <li>
  <% if current_page?(organizations_path) %>
    <%= link_to  "Organizations", organizations_path, class:'active' %>
  <% else %>
  <%= link_to  "Organizations", organizations_path %>
  <% end %>
</li>
