<banner>

</banner>

<content>
  <ul class="top_organizations">
    <% @top_orgs.each do |organization| %>
      <li>
        <%= organization.name %>
        <%= organization.description %>
      </li>
    <% end %>
  </ul>
</content>