<content>
  <ul>
    <% @organizations.each do |organization| %>
      <li>
        <%= organization.name %>
        <%= organization.description %>
        <%= link_to  "Donate", new_organization_donation_path(organization) %>
      </li>
    <% end %>
  </ul>
</content>
