<header>
  <h3>
    Organizations
  </h3>
</header>
<%= render partial: "/partials/flash" %>
<content>
  <ul class="organizations">
    <% @organizations.each do |organization| %>
      <li>
        <h3>
          <%= link_to  "#{organization.name}", organization_path(organization) %>
        </h3>
        <h4>
          <%= organization.description %>
        </h4>
        <h4>
          <%= button_to  "Donate", new_organization_donation_path(organization),method:'get' %>
        </h4>
      </li>
    <% end %>
  </ul>
</content>
